<%- include('partials/header.ejs'); -%>

<main role="main" class="container">
  <h1 class="mt-5">Contact Us</h1>
  <p class="lead text-justify">
    <%= contactcontent %>
  </p>
</main>

<%- include('partials/footer'); -%>
